.footer {
  width: 100%;
  padding: 80px 0;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

/* .footer-links a:visited,
.footer-links a:focus,
.footer-links a:active {
  text-decoration: none;
  color: var(--text-secondary);
} */
